<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro a Flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> <!-- Aqui hacemos la referecia a la carpeta static-->
</head>
<body>
    <h1>Hola bienvenido a Flask</h1>
    <img alt="gatito" src="{{url_for('static', filename='images/hipo.jpg')}}">

    {% for  i in range (cantidad)  %}
    <h2>¿Cómo estás {{nombre}}?</h2> <!--esto es un yinya-->
    {% endfor %} <!--esto es un for con jinja -->

</body>
</html>